ASTROMETRY_NET_VERSION=0.96
SOURCE_EXTRACTOR_VERSION=2.28.0
SCAMP_VERSION=2.10.0
PSFEX_VERSION=3.24.2
# SWarp only has a single (old) conda version, but install_mirar.sh needs the
# astromatic 'autoconfigure' script, which is only available for newer Swarp versions.
# One day it would be great if these versions matched, and we only needed one variable.
SWARP_VERSION=2.41.4
SWARP_CONDA_VERSION=2.38.0
