# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config.

# Data directories
RAW_DATA_DIR=/path/to/dir
OUTPUT_DATA_DIR=/path/to/dir
REF_IMG_DIR=/path/to/dir

# Credentials and settings for postgres
DB_USER=<some user like winterdrp>
DB_PWD=<a secure password perhaps>
# Uncomment variables below if you use a non standard postgres setup
# DB_HOSTNAME=<where the database is>
# DB_NAME=<what the database is called>
# DB_PORT=<which port to access the db>
# DB_SCHEMA=<which schema the tables are located at>
# Admin credentials for postgres user account creation
PG_ADMIN_USER=<a postgres admin user, often 'postgres' by default on most systems>
PG_ADMIN_PWD=<password for the user>

# Used by DataframeWriter
kowalski_user=<username>
kowalski_pwd=<password>

# Used by SendToFritz
FRITZ_TOKEN=<token>
FRITZ_AUTHID=<id>

# Used as default user for ssh/rsyncing in winterdrp/downloader
SSH_USER=<user>

# Set up emailing
WATCHDOG_EMAIL=<email_address>
WATCHDOG_EMAIL_PASSWORD=<password>
WATCHDOG_EMAIL_RECIPIENTS=<target email address>

# Set maximum number of CPUs to use, with a default of half the available total
MAX_N_CPU=<integer number of CPUs>
# Set whether to store images in cache, with a default of true
USE_WINTER_CACHE=<boolean>
