# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config.

# Data directories
# RAW_DATA_DIR=
# OUTPUT_DATA_DIR=
# Optional directory for calibration data, if not in RAW_DATA_DIR
# WINTER_CAL_DIRECTORY=
# ANET_INDEX_DIR=

# Credentials and settings for postgres
# DB_USER=
# DB_PWD=
# Uncomment variables below if you use a non standard postgres setup
# DB_HOSTNAME=
# DB_NAME=
# DB_PORT=
# DB_SCHEMA=
# Admin credentials for postgres user account creation
# PG_ADMIN_USER=
# PG_ADMIN_PWD=

# Used for BOOM catalog crossmatch queries
# BOOM_API_USER=
# BOOM_API_PASSWORD=

# Used by SendToFritz
# FRITZ_TOKEN=

# Used as default user for ssh/rsyncing in winterdrp/downloader
# SSH_USER=

# Set up emailing
# WATCHDOG_EMAIL=
# WATCHDOG_EMAIL_PASSWORD=
# WATCHDOG_EMAIL_RECIPIENTS=

# Set maximum number of CPUs to use, with a default of half the available total
# MAX_N_CPU=
# Set whether to store images in cache, with a default of true
# USE_MIRAR_CACHE=

# WINTER: restrict processing to a single board id
# BOARD_ID=
# WINTER: enable broadcasting candidates to IPAC via AVRO
# BROADCAST_AVRO=

# Required to generate SCAMP checkplots
# PLPLOT_DEV=
