astroplan
astropy[recommended]
astroquery
avro-python3~=1.10.1
confluent_kafka
coveralls
docker
ephem
fastavro
jupyter
matplotlib
numpy~=1.22.2
pandas
penquins
photutils
psycopg
psycopg[binary]
pyfftw
setuptools
watchdog
wget