name: Pylint

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        python -m pip install --upgrade poetry
        poetry install
    - name: Analysing the code with pylint
      run: |
        find . -name '*.py' -exec pylint {} \;
